name: Linting and PEP 8 Checks

on: 
  push:
    paths-ignore:
      - src/peen-ml/dataset1_script.py
      - src/peen-ml/dataset2_script.py
  pull_request:
    paths-ignore:
      - src/peen-ml/dataset1_script.py
      - src/peen-ml/dataset2_script.py

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src" >> $GITHUB_ENV
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint flake8 black torch matplotlib numpy pytest
    - name: Analyse the code with pylint
      run: |
        pylint --disable=C0301,C0114,C0116 --ignore=src/peen-ml/dataset1_script.py,src/peen-ml/dataset2_script.py $(git ls-files '*.py')
    - name: Check PEP 8 compliance with flake8
      run: |
        flake8 --ignore=E501 $(git ls-files '*.py')
    - name: Autoformat code with Black (PEP 8 enforcement)
      run: |
        black --line-length=120 --check $(git ls-files '*.py')
